.character {
    background-color: green;
    border: thin, solid, black;
    margin: 5px;
    height: 140px;
    width: 130px;
    
}

.character:hover {
    cursor: pointer;
}

.win {
    color: red;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -1px 0 orange, 0 1px orange, 0 -1px orange;
}

img {
    position: relative;
    left: 25%;
    height: 70px;
    width: 70px;
}

p {
    text-align: center;
}

div {
    position: relative;
    margin: 5px;
}

body{
    background-image: url("../images/field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hell {
    background-image: url("../images/dirtwall.jpg");
}
.hellText {
    color: white;
}