.character {
    background-color: green;
    border: thin, solid, black;
    margin: 5px;
    height: 140px;
    width: 130px;
    
}

.character:hover {
    cursor: pointer;
}

.you {
}

img {
    position: relative;
    left: 25%;
    height: 70px;
    width: 70px;
}

p {
    text-align: center;
}

div {
    position: relative;
    margin: 5px;
}

body{
    background-image: url("../images/field.jpg");
    width: 1000px;
    height: 750px;
}