.crystal {
    height: 80px;
    width: 80px;
    background: whitesmoke;
    margin: 10px;
}

.chunks {
    float: left;
    margin-right: 50px;
}

.headTag {
    color: midnightblue;
    background-color: skyblue;
    padding: 10px;
    text-align: center;
    width: 250px;
}

.inText {
    width: 430px;
}

.scoreBoard {
    background-color: lightcyan;
    width: 500px;
}

h1 {
    font-family: 'Pacifico', cursive;
}

span {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    padding: 20px;
}

p {
    font-family: 'Merienda', cursive;
}

body {
    background-image: url("../Images/background2.jpg");
}

.text {
    padding: 10px;
    background-color: lightgreen;
}