.beginning{
    visibility: visible;
}
.middle{
    align-content: center;
    text-align: center;
    visibility: hidden;
}

.selector-block{
    padding: 20px;
    border: thick black solid;
    border-radius: 15px;
}

.move{
    height: 80px;
    width: 80px;
}

.poster{
    height: 80%;
    width: 40%;
}

.chat{
    border: thick orange solid;
    background-color: whitesmoke;
    height:200px;
    margin: 10px;
    border-radius: 15px;
}

.score{
    height: 200px;
    border: thick orange solid;
    margin: 20px;
    border-radius: 15px;
}

.indScore{
    margin-top: 20px;
}

.battle{
    height:200px;
    width:200px;
    margin: 20px;
    visibility: hidden;
}

.spacer{
    height: 40px;
}

body{
    background-color: yellow;
}

strong{
    color: green;
}